<section class="redesSociales">
    <div class="contenedor">
        <!--Se obtienen de fontawesome.io/icon -->
        <a href="https://github.com/MoniLopez">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/monicalopmar/">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://api.whatsapp.com/send/?phone=5212211835077&text=Hola%2C+quiero+colaborar+contigo.+%F0%9F%A4%93&type=phone_number&app_absent=0">
            <i class="fa-brands fa-square-whatsapp"></i>
        </a>
    </div>
</section>
